{% extends "base.html" %}
{% load static %}
{% block content %}
<div class=project-header>
    <h1>Detailed Project Information</h1>
    <button id="project-edit" onclick="editProject(this);">Edit Project</button>
    <!-- Make this open a new page instead -->
</div>

<form id="project-details" ic-post-to="/api/save-project/">
    <div>
        <label for="bus_unit">Business Unit:</label>
        <input type="text" id="bus_unit" name="bus_unit" value="{{proj.bus_unit}}" disabled=true />
    </div>
    <div>
        <label for="contract_number">{{type}} Contract Number:</label>
        <input type="text" id="contract_number" name="contract_number" value="{{proj.contract_number}}" disabled=true />
    </div>
    <div>
        <label for="project_manager">{{type}} Project Manager:</label>
        <input type="text" id="project_manager" name="project_manager" value="{{proj.project_manager}}" disabled=true />
    </div>
    <div>
        <label for="project_manager_email">{{type}} Project Manager Email:</label>
        <input type="email" id="project_manager_email" name="project_manager_email"
            value="{{proj.project_manager_email}}" disabled=true />
    </div>
    <div>
        <label for="asset_data_steward">Asset Data Steward:</label>
        <input type="text" id="asset_data_steward" name="asset_data_steward" value="{{proj.asset_data_steward}}"
            disabled=true />
    </div>
    <div>
        <label for="asset_data_steward_email">Asset Data Steward Email:</label>
        <input type="email" id="asset_data_steward_email" name="asset_data_steward_email"
            value="{{proj.asset_data_steward_email}}" disabled=true />
    </div>
    <div>
        <label for="key_bus_unit_contract">Key Business Unit Contact:</label>
        <input type="text" id="key_bus_unit_contract" name="key_bus_unit_contract"
            value="{{proj.key_bus_unit_contract}}" disabled=true />
    </div>
    <div>
        <label for="key_bus_unit_contract_email">Key Business Unit Contact Email:</label>
        <input type="email" id="key_bus_unit_contract_email" name="key_bus_unit_contract_email"
            value="{{proj.key_bus_unit_contract_email}}" disabled=true />
    </div>
    <div>
        <label for="project_scope_description">Project Scope Description:</label>
        <textarea id="project_scope_description" name="project_scope_description"
            disabled=true>{{proj.project_scope_description}}</textarea>
    </div>
    <div>
        <label for="start_date">Start Date:</label>
        <input type="date" id="start_date" name="start_date" value="{{proj.start_date}}" disabled=true />
    </div>
    <div class="hidden">
        <label for="project_type">Project Type:</label>
        <input type="text" id="project_type" name="project_type" value="{{type}}" />
    </div>
    <div>
        {% csrf_token %}
    </div>
</form>

<h2>Project {{type}} Phases</h2>
<table class="phases" id='tbl'>
    <tr class="header">
        <td>Phase Number</td>
        <td>Phase Name</td>
        <td>Phase Contract Number</td>
        <td>Phase Scope Description</td>
        <td><input type="image" src="{% static 'project/plus-6.svg' %}" alt="Add Phase" class="button"
                onclick="addRow(this);">
        </td>
    </tr>
    {% for phase in phases %}
    <tr class="data" id="{{type}}-phase-{{forloop.counter}}">
        <td><a href="google.com">{{forloop.counter}}</a></td>
        <td><a href="google.com" id="name">Placeholder: Name</a></td>
        <td><a href="google.com" id="number">Placeholder: Contract Number</a></td>
        <td><a href="google.com" id="description">{{phase.stage_type.name}}</a></td>
        <td><input type="image" src="{% static 'project/edit-5.svg' %}" alt="Edit Phase" onclick="editPhase(this);">
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}