{% extends "base.html" %} {% load static %} {% block content %}
<div class="project-header">
  <h1>Detailed Project Information</h1>
  <button id="project-edit" onclick="editProject(this);">Edit Project</button>
  <!-- Make this open a new page instead -->
</div>

<div id="detailed-holder">
  {% include "blocks/design-detailed.html" %}
</div>

<h2>Project Construction Phases</h2>
<div id="table-holder">
  {% include "blocks/construction-phases.html" %}
</div>

<div id="form-holder" style="visibility: hidden;">
  {% include "blocks/construction-detailed.html" %}
</div>

{% endblock %}
