{% extends "base.html" %}

{% block content %}
<h1>List of Projects</h1>

{% if projects %}
<table class="projects">
    <tr class="header">
        <td>Project Number</td>
        <td>Project Name</td>
        <td>My Role</td>
    </tr>
    {% for project in projects %}
    <tr class="data">
        <td><a href="{% url 'project-details' project.project_number %}">{{project.project_number}}</a></td>
        <td><a href="{% url 'project-details' project.project_number %}">{{project.project_name}}</a></td>
        <td><a href="{% url 'project-details' project.project_number %}">{{project.user_role}}</a></td>
    </tr>
    {% endfor %}
</table>


{% else %}
<p>You Currently Have no Projects.</p>
{% endif %}
{% endblock %}