[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "~=2.2"
gunicorn = "~=19.9"
openpyxl = "~=2.6"
django-silk = "~=3.0"
django-background-tasks = "~=1.1"

[requires]
python_version = "3.7"
